/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image:
  url("https://www.worldofwallpaper.com/media/catalog/product/cache/f71946573e80bdd0181c5d8a67d6658d/d/e/dec171-apex-wood-grain-geometric-wallpaper-rose-gold-ea_1.jpg");
    background-size: auto 100vh;
    font-family:Monospace;
    height:100vh;
    } 

  .menu{
    background-color:WhiteSmoke;
    }
  
  .menu li{
    list-style:none;
  } 
  
  .menu ul {
    display: flex;
    justify-content: space-around; 
  } 
  
  a {
    color:SaddleBrown;
    text-decoration:none; 
     }
  
  a:hover {
    text-decoration:underline;
  }
  .site-subtitle,
.site-title {
 text-align: center;
}
.site-title {
   color: #541F0A;
}
.site-subtitle {
  font-style: italic;
  color: #79574A;
}
#div_esquerda {
  background-color: whitesmoke;
  min-height: 200px;
  width:60%;
  float: left;
  font-family: Arial;
  font-size: small;
}
#div_direita {
  background-color:whitesmoke;
  min-height: 200px;
  width:40%;
  float: right;
  font-family: arial;
  font-style: italic; 
  font-size: small; 
}
.footer {
  background-color:#ffcbe9;
  font-family: Arial;
  list-style: none; 
 }
 .sobre {
  color:#79574A;
  text-align: center; 
 }