/*reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image:
  url("https://usewallpaper.com/upload/san-pham/industry-pink-wallpaper-iphone-11-ios-14-wall-24-720x1280.jpg");
    background-size: auto 100vh;
    font-family:Arial;
    height:100vh;
    } 
.menu{
    background-image: url("https://i.pinimg.com/originals/c4/bd/8d/c4bd8dd8395edb8d529b40bdcca5112a.jpg");
    font-family: 'Bebas Neue', cursive;
  
    }
  
.menu li{
    list-style:none;
    
  } 
  
  .menu ul {
    display: flex;
    justify-content: space-around; 
    
  } 
  .menu a {
    display:block;
    padding: 10x 10px;

  }
  a {
    color:SaddleBrown;
    text-decoration:none; 
     }
  
  a:hover {
    text-decoration:underline;
  }
  .site-subtitle,
.site-title {
 text-align: center;
}
.site-title {
   color: #541F0A;
}
.site-subtitle {
  font-style: italic;
  color: #79574A;
}

.main {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  margin: auto
}
.text{
  text-align: center;
  align-items: center;
  font-size: small;
  justify-content: center;
}
.footer {
  background-color:#ffcbe9;
  font-family: Arial; 
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  width:100% ;
 }
 .sobre {
  color:#79574A;
  text-align: center; 
 }
 .img-perfil{
   width: 20%;
   height: 20%;
   align-items: center;
   justify-content: center;
 }
 
.form, button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}
  .name,
.profession {
 text-align: center;
 align-items: center;
 justify-content: center;
}

.principal{
  display: flex;
  align-items: flex-end;
 justify-content: center;
}
.button {
  width:30%;
  border-color: pink;
}